#banner
	.banner_content
		%h1 Food Sharing App
		%p Going on holidays and your fridge is full? 
		%p Share your food with neighbors.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "This is amazing!"
		%p.name - Shtand Street Residents

#callouts
	.callouts_inner
		.wrapper
			.callout
				%i.fa.fa-users
				%h2 Shtand Street
				%p You and your neighbors make 250 people.
			.callout
				%i.fa.fa-plane
				%h2 Holidays
				%p Some Styling again
			.callout
				%i.fa.fa-leaf
				%h2 Keep clean
				%p Some Styling

#bottom_cta
	.wrapper
	%h2 For Real!
	%p I want you to sign up..
	%button= link_to "Click Me!", new_user_registration_path

%footer
	%p &copy; 2016 AniaP 